@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@code {
    private bool mostrarMenu = false;

    protected override async Task OnInitializedAsync()
    {
        var email = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "usuarioEmail");
        mostrarMenu = !string.IsNullOrEmpty(email);
    }
}

<div class="page">
    @if (mostrarMenu)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
