@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@code {
    private bool mostrarMenu = false;

    protected override async Task OnInitializedAsync()
    {
        Navigation.LocationChanged += OnLocationChanged;
        await VerificarSesion();
        await RedirigirSiNoHaySesion();
    }

    private async void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        await VerificarSesion();
        await RedirigirSiNoHaySesion();
        StateHasChanged();
    }

    private async Task VerificarSesion()
    {
        
        @* await JSRuntime.InvokeVoidAsync("sessionStorage.removeItem", "usuarioEmail"); *@
        var email = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "usuarioEmail");
        mostrarMenu = !string.IsNullOrEmpty(email);
    }

    private async Task RedirigirSiNoHaySesion()
    {
        var rutaActual = Navigation.Uri.ToLower();
        // Permite acceso libre solo al login
        if (!mostrarMenu && !rutaActual.Contains("/login"))
        {
            Navigation.NavigateTo("/login", true);
        }
    }



    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}

<div class="page">
    @if (mostrarMenu)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
